@import "tailwindcss";

@theme {
  --color-cold: rgb(46, 54, 79);
  --color-warm: rgb(239, 89, 57);
  --color-light: rgba(239, 90, 57, 0.27);
  --color-bright: rgba(255, 103, 69);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* :root { */
  /* --clear: #ffffff; */
  /* --cold: #3f4bec; */
  /* --warm: #cf66c5; */
  /* --dark: #0d0d0f; */
  /* --black-emerald: #122220; */
  /* --yellow: #d87818; */
  /* --moonless-night: #2f2b32; */
  /* --lime-green: #a7bf2e; */
  /* --oscilate-1: #174240; */
  /* --oscilate-1: #2e364f; */
  /* --oscilate-2: #202020; */
  /* --oscilate-3: #5dd62c; */
  /* --oscilate-4: #337418; */
  /* --oscilate-5: #f8f8f8; */
  /* --oscilate-5: #ef5939; */
  /* --effect-shadow: 1px 1px 5px 1px var(--warm); */
  /* background-color: var(--oscilate-1); */
/* } */

/* New Home */

/* .home-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 31%;
  color: var(--oscilate-5);
} */

/* section {
  width: 100%;
  padding: 0.5rem 2rem;
} */

/* .michroma-small {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
} */

/* .michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
} */

/* .section-title {
  padding-bottom: 1rem;
} */

/* .michroma-bold {
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
} */

/* .technologies {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* .tech-item {
  background-color: #ef5a3944;
  border-radius: 15px;
  margin-top: 0.4rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
} */

/* .project-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
} */

/* .project-title div,
.project-title p {
  margin-right: 0.4em;
} */

/* .icon {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition-duration: 0.2s;
} */

/* .icon:hover {
  font-size: 1.1rem;
  color: #ff6745;
} */

/* a {
  text-decoration: none;
} */

/* a,
a:visited,
a:hover,
a:active {
  color: inherit;
} */

/* footer {
  width: 100%;
  padding: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

/* footer .icon {
  font-size: 2rem;
  padding: 0 0.5rem;
  transition-duration: 0.2s;
} */

/* footer .icon:hover {
  font-size: 2rem;
  color: #ff6745;
} */